.body {
    background-color: black;
}
* {
    box-sizing: border-box;
}
.box {
    background: linear-gradient(to top right,#b4b4b4,#d8d8d8,#fff );
    margin: auto;
    margin-top: 20px;
    width: 80%;
    height: 800px;
    border-radius: 0 0 20px 20px;
}
.HeaderBackground {
    position: relative;
    display: inline-block;
    background-color: black;
    color: #ffb163;
    padding: 10px 0px 10px 30px;
    font-size: 60px;
    font-weight: 550;
    font-family: monospace;
}
.HeaderBackground:before {
    content: "";
    position: absolute;
    top: 0;
    right: -90px;
    height: 100%;
    width: 90px;
    background: linear-gradient(120deg, rgb(0, 0, 0) 63px, rgba(0, 0, 0, 0) 10px);
}
.Content {
    position: relative;
    margin-top: -90px;
    color: black;
    font-size: 40px;
    padding: 110px 30px 30px;
}