body{}
* {
    box-sizing: border-box;
    overflow: hidden;
}
.header {
    height: 70px;
    width: 50%;
    background-color: #008b66;
    color: #fff;
    font-size: 35px;
    padding: 8px;
    text-indent: 20px;
    white-space: nowrap;
}
.content {
    margin-top: -18px;
    margin-left: 3%;
    padding: 10px;
    width: 47%;
    background-color: #dfe6e1;
    font-size: 25px;
    font-weight: 550;
    border: 3px solid #fff;
    border-right: none;
    border-bottom: none;
}