body
{
  background-color: #333333;
}
.content-block
{
  height: 70px;
  background-color: #88b7d5;
  position: relative;
  margin-top: 70px;
  border: 5px solid #C2E1F5;
}
.text
{
  color: white;
  font-size: 20px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%) 
}
.triangle
{
  width: 50px;
  height: 50px;
  background-color: #88b7d5;
  transform: rotate(45deg);
  border-left: 5px solid #C2E1F5;
  border-top: 5px solid #C2E1F5;
  position: absolute;
  top: -31px;
  left: calc(50% - 25px);
}